@using SSIMS.Models

@{
    ViewBag.Title = "DelegateAuthority";
}

<h2>New Delegation</h2>

<div>
    <table>
        <tr>
            <th>Start Date</th>
            <td></td>
        </tr>
    </table>
</div>


