@using SSIMS.Models

@{
    ViewBag.Header = "DeptHead";
    Department department = ViewBag.Department;
    string selected = ViewBag.SelectedAuth;
    List<DeptHeadAuthorization> options = ViewBag.OtherStaff;
}


<h2>New Delegation</h2>

<script>
    function update() {
        var auth = document.getElementById("authorized").value;
        alert("Authority Delgation Updated!");
        post("/departments/updateauthority", { "id": auth });
    }

    function post(path, params, method='post') {
      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];
          form.appendChild(hiddenField);
        }
      }
      document.body.appendChild(form);
      form.submit();
    }
</script>

<div>
    <h4>@department.DeptName Authority Delegation</h4>
    <hr />
    
</div>


