@using SSIMS.Models


@{ 
    ViewBag.Header = "Departments";
    Department department = ViewBag.Department;
    string selected = ViewBag.SelectedPoint;
    List<CollectionPoint> options = ViewBag.OtherPoints;
}

<script>
    function update() {
        var cp = document.getElementById("collectionpoint").value;
        alert("Collection Point Updated!");
        post("/departments/updatecollectionpoint", { "id": cp });
    }

    function post(path, params, method='post') {
      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];
          form.appendChild(hiddenField);
        }
      }
      document.body.appendChild(form);
      form.submit();
    }
</script>

<div>
    <h4>@department.DeptName Department Dashboard</h4>
    <hr />
    <table>
        <tr>
            <th>Collection Location</th>
            <td>
                <select id="collectionpoint" onchange="update()">
                    <option selected value=@department.CollectionPoint.ID>@selected</option>
                    @foreach (CollectionPoint cp in options)
                    {
                        <option value=@cp.ID>@cp.Location</option>
                    }
                </select>
            </td>
            <td>
                @if (department.CollectionPoint.ID == 1)
                {
                    <img src=@Url.Content("~/Resources/Maps/SelectedStore.png") id="collectionmap" width=450 height=300 />
                }
                @if (department.CollectionPoint.ID == 2)
                {
                    <img src=@Url.Content("~/Resources/Maps/SelectedMgmt.png") id="collectionmap" width=450 height=300 />
                }
                @if (department.CollectionPoint.ID == 3)
                {
                    <img src=@Url.Content("~/Resources/Maps/SelectedMedi.png") id="collectionmap" width=450 height=300 />
                }
                @if (department.CollectionPoint.ID == 4)
                {
                    <img src=@Url.Content("~/Resources/Maps/SelectedENGG.png") id="collectionmap" width=450 height=300 />
                }
                @if (department.CollectionPoint.ID == 5)
                {
                    <img src=@Url.Content("~/Resources/Maps/SelectedScience.png") id="collectionmap" width=450 height=300 />
                }
                @if (department.CollectionPoint.ID == 6)
                {
                    <img src=@Url.Content("~/Resources/Maps/SelectedHosp.png") id="collectionmap" width=450 height=300 />
                }
            </td>


        </tr>

        <tr>
            <th>  @Html.ActionLink("Delegate Authority", "DelegateAuthority", new { id = department.ID })</th>
        </tr>
    </table>
</div>

