@using SSIMS.Models


@{ 
    ViewBag.Header = "Departments";
    Department department = ViewBag.Department;
    string selected = ViewBag.SelectedPoint;
    List<CollectionPoint> options = ViewBag.OtherPoints;
}

<div>
    <h4>@department.DeptName Department Dashboard</h4>
    <hr />
    <table>
        <tr>
            <th>Collection Location</th>
            <td>
                <select>
                    <option selected value=@department.CollectionPoint.Location>@department.CollectionPoint.Location</option>
                    @foreach (CollectionPoint cp in options)
                    {
                        <option value=@cp.Location>@cp.Location</option>
                    }
                </select>
            </td>


        </tr>
    </table>
</div>

