@model IEnumerable<SSIMS.Models.RequisitionOrder>
@{
    ViewBag.Header = "Dashboard";
    ViewBag.Section = "Dashboard";

}

<h2>Pending Department Request</h2>

@if (Model.Count() == 0)
{
    <h4>No pending request</h4>
}
else
{
<table >
    <tr>
        <th>Requests ID</th>
        <th>Date Submitted</th>
        <th>Submitted by Staff</th>
        <th>Status</th>

    </tr>
    @foreach (var ro in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => ro.ID)</td>
            <td>@Html.DisplayFor(model => ro.CreatedDate)</td>
            <td>@Html.DisplayFor(model => ro.CreatedByStaff.Name)</td>
            <td>@Html.DisplayFor(model => ro.Status)</td>

        </tr>
}
</table>
}

<div>
    <button onclick="window.location.href = '/Requisition/Manage';">
        View More And Manage
    </button>
</div>

<style>
    div button {
        float: right;
        margin-left: -50%;
        margin-top: 2em;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        color: black;
    }

</style>