@{
    ViewBag.Header = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>SSIMS</h1>
    <p class="lead">Welcome to Logic University Stationery Store Inventory Management System.</p>
</div>
