@model SSIMS.ViewModels.RequisitionItemVM

<script src = "~/Scripts/jquery-1.10.2.min.js" > </script> 
<script type = "text/javascript" > 
    $(document).ready(function () {
    var row;
    $.getJSON("/Requisition/GetDocumentItems", function(data) {
        $.each(data, function(i, DoitemData) {
            row = $('<tr />');
            //row.append("<td>" + CustData.FirstName + "</td>");
            //row.append("<td>" + CustData.LastName + "</td>");
            //row.append("<td>" + CustData.Age + "</td>");
            row.append("<td>" + DoitemData.quantity + "</td>");
            $('#tblCust').append(row);
        });
    });
    });
   </script> <table id = "tblCust"  class = "table table-bordered" > `  
  
<thead>  
   <tr>  
      @*<th>First Name</th>  
      <th>Last Name</th>  
      <th>Age</th>*@  
      <th>Quantity</th>  
   </tr>  
</thead>  
   <tbody></tbody>  
</table>    