@model SSIMS.ViewModels.RequisitionItemVM
@using SSIMS.ViewModels;

@{
    List<RequisitionItemVM> requisitionItems = ViewBag.RequisitionItems;
}


@using (Html.BeginForm())
{

    <table id="tblCust" class="table table-bordered">
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        @foreach (RequisitionItemVM rivm in requisitionItems)
        {
            <tr>
                <td>@rivm.SelectedCategory</td>
                <td>@rivm.SelectedDescription</td>
                <td>@rivm.Quantity</td>
            </tr>
        }
    </table>
    <input type="submit" value="SubmitRequisition" class="btn btn-primary" />
} 